html {
	background-color: #E5E5E5;
}

body {
	margin: 0;

	font-family: sans-serif;
}

header {
	background-color: #C72657;
	color: white;
}

h1 {
	margin: 0;
	font-size: 1.5em;
	padding: 0.4em;
	font-weight: 200;
	letter-spacing: 0.02em;
}

select {
	border: none;
	background-color: white;
	-webkit-appearance: none;
}

button {
	margin: 0;
	padding: 0;
	border: none;
}