#deck-study {
	display: block;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 5em;
}

#deck-study div {
	margin: 0 auto;
}

#deck-study p {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding-top: 1em;
}

#deck-study > div {
	flex-grow: 1;
	max-width: 17em;
	min-height: 25em;
}

#deck-study.flipped #front {
	display: none;
}

#deck-study.flipped #back {
	display: block;
}

#deck-study #front {
	display: block;
}

#deck-study #back {
	display: none;
}

#deck-study .card {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;

	background-color: #C72657;
	color: white;
}

#deck-study .study-buttons {
	display: flex;
}


#deck-study .study-buttons button {
	display: inline-block;
	flex-grow: 1;
	padding: 1em 0;
}
