#search-bar {
	height: 3em;
	display: flex;
	flex-grow: 1;

	transition: 0.2s all;
	margin-bottom: 1em;

}

#search-bar:focus-within {
	transform: translate(0.2em, -0.2em);
	box-shadow: -4px 3px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

#search-bar input,
#search-bar select,
#search-bar button {
	height: 100%;
	min-width: 0;
	width: 100%;
	border: none;
	padding: 0;

	outline: 0;
}

#search-bar select, #search-bar button {
	max-width: 5em;
	user-select: none;
}

#search-bar select {
	text-indent: -0.1em;
	text-align-last:center;
	padding: 0;

	background-color: #fbfbfb;
}

#search-bar input {
	font-size: 1.7em;
	padding-left: 0.4em;
	border-radius: 5px 0px 0px 5px;
}

#search-bar button {
	border-radius: 0px 5px 5px 0px;
	background-color: #c63d69;
	color: transparent;
	overflow: hidden;
	min-width: 4em;
	max-width: 4em;
	transition: all 0.3s;
}

#search-bar button:before {
	content: '\f002';
	position: relative;
	left: calc(5em / 2 - 1.75em);
	color: white;
	font-size: 1.5em;
	transition: all 0.5s;
}

#search-bar button:active {
	background-color: white;
	transition: 0s;
}

#search-bar button:active:before {
	color: #c63d69;
	transition: 0s;
}