#main-wrapper {
    margin: 5em 2em 0em 2em;
}

header {
  height: 3em;
  line-height: 3em;
  padding: 0.5em;
  vertical-align: middle;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

header h1 {
  padding: 0;
  vertical-align: middle;
  transition: opacity 0.8s 0.5s;
}

header h1:before {
  display: inline-block;
  position: relative;
  overflow: hidden;
  float: left;
  font-size: 3rem;
  padding-right: 0.2em;
  content: '';
  background-image: url(assets/img/nico.svg);
  background-size: 1em 1em;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  transition: margin-left 3s, transform 1s 0.5s;
}

h1.bump:before {
  animation: bump 0.2s, 0.5s 0.2s spin linear infinite;
}

@keyframes bump {
  0% {
    bottom: 0em;
  }
  
  50% {
    bottom: 0.2em;
  }
  
  100% {
    bottom: 0em;
  }
}


@keyframes spin {
  0% {
    transform: rotateZ(0deg);
    transform-origin: 40% 50%;
  }
  
  100% {
    transform: rotateZ(360deg);
    transform-origin: 40% 50%;
  }
}