@media screen and (min-width: 600px) {
	#main-wrapper {
    	margin: 0em 2em 0em 2em;
    	padding: 5em 0 4em 0;
	}

	#main-wrapper > *:last-child {
 		margin-bottom: 5em;
	}

	header nav {
		display: inline-block;
		position: relative;
		float: right;
		padding: 0;

		text-align: center;

		width: initial;
	}

	header nav > button {
		width: 3.5em;
	}

	header nav > button:not(:last-child) {
		margin-right: 0.5em;
	}

	header nav > button:before {
		top: 0;
	}
}