#deck-dashboard h1 {
	background-color: #C72657;
	color: white;
	display: inline-block;

	border-radius: 0.25em;
}

#deck-dashboard ul {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#deck-dashboard li {
	flex-grow: 1;
	padding: 0.5em;
	width: 10em;
	max-width: 10em;
	height: 7em;
}

#deck-dashboard li div, #deck-dashboard li button {
	transition: all 0.2s;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

#deck-dashboard li div:hover, #deck-dashboard li button:hover {
	box-shadow: -4px 3px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
	transform: translate(0.2em, -0.2em);


	transition: all 0.2s;
}

#deck-dashboard .deck {
	background-color: #C72657;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 7em;
	user-select: none;
}

#deck-dashboard button {
	display: block;
	background-color: #C72657;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 7em;
	width: 100%;
	height: 100%;
	color: transparent;
}

#deck-dashboard button:before {
	font-size: 5em;
	font-family: 'Font Awesome 5 Free';
	position: relative;
	top: 0.05em;
}

#button-deck-add:before {
	content: '\f067';
	color: white;
	left: calc(100% - (4em / 2));
}

#button-deck-settings:before {
	content: '\f013';
	left: calc(100% - (3.65em / 2));
	color: white;	
}